.inputADSL
{
	width:96%;
	position: relative;
	left:2%;
	right:2%;
	padding:8px;
	margin-top:5px;
}
#butSubmitADSL
{
	width:96%;
	position: relative;
	left:2%;
	right:2%;
	padding:8px;
	margin-top:5px;
}
#butSubmitUSER
{
	width:96%;
	position: relative;
	left:2%;
	right:2%;
	padding:8px;
	margin-top:5px;
}
.h3
{
	font-family:Prototype;
	font-size:24px;
	padding:8px;
	text-align:center;
}